// Service Modal 3
#serviceModal3.service-modal.modal.fade(tabindex='-1', aria-labelledby='serviceModal3', aria-hidden='true')
    .modal-dialog.modal-xl
        .modal-content
            .modal-header.border-0
                button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
            .modal-body.text-center.pb-5
                .container
                    .row.justify-content-center
                        .col-lg-8
                            // Service Modal - Title
                            h2.service-modal-title.text-secondary.text-uppercase.mb-0 Circus Tent
                            // Icon Divider
                            .divider-custom
                                .divider-custom-line
                                .divider-custom-icon
                                    i.fas.fa-star
                                .divider-custom-line
                            // Service Modal - Image
                            img.img-fluid.rounded.mb-5(src='assets/img/service/circus.png', alt='...')
                            // Service Modal - Text
                            p.mb-4
                                | 免去用訊息或電話來來往往喬預約時間的麻煩，直接列出可預約的時間讓客戶自行選取或更改
                            ul
                                li #[b 低門檻驗證機制]，僅需用戶提供最少的資訊驗證非機器人，減少使用門檻，降低跳出率
                                li #[b 一覽無遺的簡介介面]，一次列出整月空檔時間，並強調使用者體驗，引導預約步驟
                                li #[b 串接各種平台系統]，LINE官方帳號、Messenger、官方網站等等都可彈性整合
                            button.btn.btn-primary(data-bs-dismiss='modal')
                                i.fas.fa-xmark.fa-fw
                                | Close Window