// Service Modal 1
#serviceModal1.service-modal.modal.fade(tabindex='-1', aria-labelledby='serviceModal1', aria-hidden='true')
    .modal-dialog.modal-xl
        .modal-content
            .modal-header.border-0
                button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
            .modal-body.text-center.pb-5
                .container
                    .row.justify-content-center
                        .col-lg-8
                            // Service Modal - Title
                            h2.service-modal-title.text-secondary.text-uppercase.mb-0 Log Cabin
                            // Icon Divider
                            .divider-custom
                                .divider-custom-line
                                .divider-custom-icon
                                    i.fas.fa-star
                                .divider-custom-line
                            // Service Modal - Image
                            img.img-fluid.rounded.mb-5(src='assets/img/service/cabin.png', alt='...')
                            // Service Modal - Text
                            p.mb-4
                                | 以ChatGPT技術為基底，打造你日常業務內的專屬客服機器人，幫你初步解決客戶問題，節省時間和人力成本
                            ul 
                                li 有別於傳統聊天機器人的模板式呆板QA，他能#[b 解析客戶的問題，並提供結構式的彈性答覆]
                                li #[b 低成本規模化]，不必砸重金訓練資料，只要提供常見的常見問答及業務內容即可
                                li #[b 判別問題種類]，如果問題機器人無法回覆，也會導回至真人客服，不會胡說八道
                            button.btn.btn-primary(data-bs-dismiss='modal')
                                i.fas.fa-xmark.fa-fw
                                | Close Window