// Service Modal 1
#serviceModal1.service-modal.modal.fade(tabindex='-1', aria-labelledby='serviceModal1', aria-hidden='true')
    .modal-dialog.modal-xl
        .modal-content
            .modal-header.border-0
                button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
            .modal-body.text-center.pb-5
                .container
                    .row.justify-content-center
                        .col-lg-8
                            // Service Modal - Title
                            h2.service-modal-title.text-secondary.text-uppercase.mb-0 Log Cabin
                            // Icon Divider
                            .divider-custom
                                .divider-custom-line
                                .divider-custom-icon
                                    i.fas.fa-star
                                .divider-custom-line
                            // Service Modal - Image
                            img.img-fluid.rounded.mb-5(src='assets/img/service/cabin.png', alt='...')
                            // Service Modal - Text
                            p.mb-4
                                | 以ChatGPT技術為基底，打造你日常業務內的專屬客服機器人，幫你初步解決客戶問題，節省時間和人力成本
                                ul 
                                    li 24/7客服
                            button.btn.btn-primary(data-bs-dismiss='modal')
                                i.fas.fa-xmark.fa-fw
                                | Close Window