// Service Modal 2
#serviceModal2.service-modal.modal.fade(tabindex='-1', aria-labelledby='serviceModal2', aria-hidden='true')
    .modal-dialog.modal-xl
        .modal-content
            .modal-header.border-0
                button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
            .modal-body.text-center.pb-5
                .container
                    .row.justify-content-center
                        .col-lg-8
                            // Service Modal - Title
                            h2.service-modal-title.text-secondary.text-uppercase.mb-0 Tasty Cake
                            // Icon Divider
                            .divider-custom
                                .divider-custom-line
                                .divider-custom-icon
                                    i.fas.fa-star
                                .divider-custom-line
                            // Service Modal - Image
                            img.img-fluid.rounded.mb-5(src='assets/img/service/cake.png', alt='...')
                            // Service Modal - Text
                            p.mb-4
                                | 以現有可商業化的網頁模板建置你的客製化網站
                            ul
                                li #[b 極具競爭力的價格]，採用客製化的模板，節省過往昂貴的開發成本
                                li #[b 客製介面和多元服務整合]，詳細的需求訪談，結合現有或新增各式的服務，呈現於網站
                                li #[b 網路行銷]，網站做好了，但也要有網路曝光度啊！附加完整的SEO網路行銷諮詢
                            button.btn.btn-primary(data-bs-dismiss='modal')
                                i.fas.fa-xmark.fa-fw
                                | Close Window