doctype html
html(lang='zh-TW')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Implementation Go - 簡潔平價的數位轉型導入

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.3.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.bg-secondary.text-uppercase.fixed-top
            .container
                a.navbar-brand(href='#page-top') Implementation Go
                button.navbar-toggler.text-uppercase.font-weight-bold.bg-primary.text-white.rounded(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu 
                    i.fas.fa-bars
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ms-auto
                        li.nav-item.mx-0.mx-lg-1
                            a.nav-link.py-3.px-0.px-lg-3.rounded(href='#service') Service
                        li.nav-item.mx-0.mx-lg-1
                            a.nav-link.py-3.px-0.px-lg-3.rounded(href='#about') About
                        li.nav-item.mx-0.mx-lg-1
                            a.nav-link.py-3.px-0.px-lg-3.rounded(href='#contact') Contact

        // Masthead
        header.masthead.bg-primary.text-white.text-center
            .container.d-flex.align-items-center.flex-column
                // Masthead Avatar Image
                img.masthead-avatar.mb-5(src='assets/img/logo.png', alt='...')
                // Masthead Heading
                h1.masthead-heading.text-uppercase.mb-0 Implementation Go
                // Icon Divider
                .divider-custom.divider-light
                    .divider-custom-line
                    .divider-custom-icon
                        i.fas.fa-star
                    .divider-custom-line
                // Masthead Subheading
                p.masthead-subheading.font-weight-light.mb-0 Affordable - Trustworthy - Intuitive

        // About Section
        section#about.page-section.bg-primary.text-white.mb-0
            .container
                // About Section Heading
                h2.page-section-heading.text-center.text-uppercase.text-white About
                // Icon Divider
                .divider-custom.divider-light
                    .divider-custom-line
                    .divider-custom-icon
                        i.fas.fa-star
                    .divider-custom-line
                // About Section Content
                .row
                    .col-lg-4.ms-auto
                        p.lead
                            | Implementation Go是一間科技顧問新創。針對中小型的公司、工作室、團隊......，提供模板和客製化的數位轉型服務，提供網站建置、聊天機器人、預約系統等服務，同時也提供數位行銷等策略規劃，讓您的業務觸及到更多客戶。
                    .col-lg-4.me-auto
                        p.lead
                            | 起源：經過多次的訪談，我們發現許多的中小型的機構都因認為數位轉型的成本過高而不願意投入，但近年來隨著雲端和AI技術的進步，共享使得系統建置的費用指數型下降，我們希望用最親民的價位，提供客製化的方案整合方案，協助您將您的日常數位化。
                // About Section Button
                .text-center.mt-4
                    a.btn.btn-xl.btn-outline-light(href='https://startbootstrap.com/theme/freelancer/')
                        i.fas.fa-download.me-2
                        | Free Download!

        // Service Section
        section#service.page-section.service
            .container
                // Service Section Heading
                h2.page-section-heading.text-center.text-uppercase.text-secondary.mb-0 我們能幫你 We can help you
                // Icon Divider
                .divider-custom
                    .divider-custom-line
                    .divider-custom-icon
                        i.fas.fa-star
                    .divider-custom-line
                // Service Grid Items
                .row.justify-content-center
                    // Service Item 1
                    .col-md-6.col-lg-4.mb-5
                        .service-item.mx-auto(data-bs-toggle='modal', data-bs-target='#serviceModal1')
                            .service-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
                                .service-item-caption-content.text-center.text-white
                                    p ChatBOT#[br]聊天機器人
                            img.img-fluid(src='assets/img/service/cabin.png', alt='...')
                    // Service Item 2
                    .col-md-6.col-lg-4.mb-5
                        .service-item.mx-auto(data-bs-toggle='modal', data-bs-target='#serviceModal2')
                            .service-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
                                .service-item-caption-content.text-center.text-white
                                    p Website#[br]網站建置
                            img.img-fluid(src='assets/img/service/cake.png', alt='...')
                    // Service Item 3
                    .col-md-6.col-lg-4.mb-5
                        .service-item.mx-auto(data-bs-toggle='modal', data-bs-target='#serviceModal3')
                            .service-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
                                .service-item-caption-content.text-center.text-white
                                    p Reservation#[br]預約系統
                            img.img-fluid(src='assets/img/service/circus.png', alt='...')
                   
        // BOT Section
        section#contact.page-section
            .container
                // BOT Section Heading
                h2.page-section-heading.text-center.text-uppercase.text-secondary.mb-0 Ask us anything!
                // Icon Divider
                .divider-custom
                    .divider-custom-line
                    .divider-custom-icon
                        i.fas.fa-star
                    .divider-custom-line
                // BOT Section Form
                .col-lg-4
                    p.lead.mb-0
                    iframe(src="http://13.236.133.34:8501/?embed=true" frameborder="0" width="1300px" height="800px") 
        // Footer
        footer.footer.text-center
            .container
                .row
                    //- // Footer Location
                    //- .col-lg-4.mb-5.mb-lg-0
                    //-     h4.text-uppercase.mb-4 Location
                    //-     p.lead.mb-0
                    //-         | 2215 John Daniel Drive
                    //-         br
                    //-         | Clark, MO 65243
                    //- // Footer Social Icons
                    //- .col-lg-4.mb-5.mb-lg-0
                    //-     h4.text-uppercase.mb-4 Around the Web
                    //-     a.btn.btn-outline-light.btn-social.mx-1(href='#!')
                    //-         i.fab.fa-fw.fa-facebook-f
                    //-     a.btn.btn-outline-light.btn-social.mx-1(href='#!')
                    //-         i.fab.fa-fw.fa-twitter
                    //-     a.btn.btn-outline-light.btn-social.mx-1(href='#!')
                    //-         i.fab.fa-fw.fa-linkedin-in
                    //-     a.btn.btn-outline-light.btn-social.mx-1(href='#!')
                    //-         i.fab.fa-fw.fa-dribbble
                    // Footer About Text
                    .col-lg-4
                        h4.text-uppercase.mb-4 About Freelancer
                        p.lead.mb-0
                            | Let ImplementationGo Drive Your Business Success Together!  


        // Copyright Section
        div.copyright.py-4.text-center.text-white
            .container
                small Copyright &copy; ImplementationGo 2024

        // Service Modals
        include includes/service-modal-1.pug
        include includes/service-modal-2.pug
        include includes/service-modal-3.pug
        //- include includes/service-modal-4.pug
        //- include includes/service-modal-5.pug
        //- include includes/service-modal-6.pug

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')

        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
        // * *                               SB Forms JS                               * *
        // * * Activate your form at https://startbootstrap.com/solution/contact-forms * *
        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

        script(src='https://cdn.startbootstrap.com/sb-forms-latest.js')